html, body {
	 padding: 0;
	 margin: 0;
	 width: 100%;
	 height: 100%;
	 background: #FFF;
	}
#btnPrev{background-color: #fff; color: #000;}
#btnPrev:hover{background: #4D525F;border: 2px solid #4D525F; color: #fff;}

 .ui-formSlide {
	 display: block;
	 position: relative;
	 padding: 0;
	 font-size: 0;
	 width: 100%;
	 overflow-x: hidden;
	 overflow-y: auto;
	 z-index: 1;
	 height: 100%;
}
 .ui-formSlide li[data-step] {
	 width: 100%;
	 vertical-align: top;
	 font-size: 16px;
	 display: none;
	 white-space: normal;
}
 .ui-formSlide li[data-step] .ui-step-content {
	 opacity: 0;
	 -webkit-transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) all;
	 -moz-transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) all;
	 -ms-transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) all;
	 -o-transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) all;
	 transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) all;
}
 .ui-formSlide li[data-step] .ui-step-content.in {
	 opacity: 1;
}
 .ui-formSlide li[data-step].active {
	 display: inline-block;
}
/* custom */
 .ui-scalable {
	 transform-origin: 0 0;
}
 .card {
	 border: none;
}
 .table {
	 display: table;
	 width: 100%;
}
 .table.table-full {
	 height: 100%;
}
 .table .table-row {
	 display: table-row;
}
 .table .table-cell {
	 display: table-cell;
}
 .v-align-top {
	 vertical-align: top;
}
 .v-align-middle {
	 vertical-align: middle;
}
 .v-align-bottom {
	 vertical-align: bottom;
}
 .buttons {
	 padding-top: 50px;
	 text-align: center;
}
.page-template-typeform .buttons button {
	 display: inline-block;
    vertical-align: middle;
    padding: 10px 10px;
    background: #000000;
    border-radius: 21px;
    min-width: 100px;
    border: 0;
    color: white;
    cursor: pointer;
    box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
    max-width: 170px;
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid #000;
}
.page-template-typeform .buttons button:hover {
	 background: #4D525F;
	 border: 2px solid #4D525F;
}

.blackbuttom{
	display: inline-block;
    vertical-align: middle;
    padding: 10px 10px;
    background: #000000;
    border-radius: 21px;
    min-width: 100px;
    border: 0;
    color: white;
    cursor: pointer;
    box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
    max-width: 170px;
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid #000;
}
.blackbuttom:hover{background: #4D525F;border: 2px solid #4D525F; color: #FFFFFF;}

.whitebuttom{
	display: inline-block;
    vertical-align: middle;
    padding: 10px 10px;
    background: #FFFFFF;
    border-radius: 21px;
    min-width: 100px;
    border: 0;
    color: #000;
    cursor: pointer;
    box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
    max-width: 170px;
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid #000;
}
.whitebuttom:hover{background: #4D525F;border: 2px solid #4D525F; color: #FFFFFF;}

#startbtn{margin-top: 177px;}

.disable{background-color: #C4C4C4; border: 2px solid #C4C4C4; pointer-events: none;}
.dis{background-color: #C4C4C4!important; border: 2px solid #C4C4C4!important; pointer-events: none;}

.page-template-page-templatestypeform-php{background-color: #fff;}
.page-template-page-templatestypeform-php #wrapper-navbar .navbar.bg-primary{background-color: #fff;}
/*.page-template-page-templatestypeform-php footer,.page-template-page-templatestypeform-php #wrapper-footer, .page-template-page-templatestypeform-php .footerbanner{display: none!important;}*/

.ui-step-content h1{font-family: proxima-nova,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; font-weight: 900; font-size: 60px; line-height: 65px; margin-bottom: 6px; letter-spacing: 1.8px; }
.ui-step-content h2{color: #707070;font-size: 17px;line-height: 55px;font-weight: 700;line-height: 30px;max-width: 735px; }
.ui-step-content h3{font-family: proxima-nova,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; color: #000000;font-size: 44px; line-height: 50px; font-weight: 700; letter-spacing: 0.88px; margin-bottom: 35px;}
.ui-step-content img{display: block; margin-bottom: 28px;}
.ui-step-content textarea{border: 2px solid #E0E0E0; padding: 18px; height: 120px; font-size: 16px; width: 100%;}
.ui-step-content input[type=text],.formtype input[type=email],.formtype input[type=tel]{    max-width: 100%;font-size: 30px!important; font-weight: 700; width: 100%;height: 40px;border: 2px solid #E0E0E0;margin-bottom: 50px;}
.blacksubmit {display: inline-block;}
.ui-step-content input[type="submit"],.blacksubmit  {
	background-color: #000;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 25px 0 0;
    cursor: pointer;
    border-radius: 21px;
    border: none;
    max-width: 170px;
    width: 100%;
}
.ui-step-content input[type="submit"]:hover, .blacksubmit:hover{background-color: #4D525F; color: #fff;}

.section {
	  width: 100%;
	  height: auto;
	  margin: 0;
	  display: flex;
	  align-items: center;
	  justify-items: center;
	  background: #FFF;
}

.labelop {
		 display: inline-block;
		 cursor: pointer;
		 font-weight: 500;
		 position: relative;
		 overflow: hidden;
		 margin-bottom: 0.375em;
		/* Accessible outline */
		/* Remove comment to use */
		/* &:focus-within {
			 outline: .125em solid $primary-color;
		}
		 */
	}
	 .labelop input {
		 position: absolute;
		 left: -9999px;
	}
	 .labelop input:checked + span {
		 background-color: #383838;color: #fff;
	}
	 .labelop input:checked + span:before {
		 box-shadow: inset 0 0 0 0.4375em #00005c;
	}
	 .labelop span {
		 display: flex;
	    align-items: center;
	    padding: 11px 34px;
	    border-radius: 99em;
	    transition: 0.25s ease;
	    font-size: 16px;
	    color: #212531;
	    border: 1px solid #E0E0E0;
	    margin: 0 8px 0;
	}
	 .labelop span:hover {
		 background-color: #383838;color: #fff;
	}
	 .labelop span:before {
		 display: none;
	}

	/*checkbox style*/
	.cont {
	  display: inline-block;
	  position: relative;
	  padding-left: 35px;
	  margin-bottom: 12px;
	  cursor: pointer;
	  font-size: 22px;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	  font-size: 16px;
	  margin-top: 35px;
	}

	/* Hide the browser's default checkbox */
	.cont input {
	  position: absolute;
	  opacity: 0;
	  cursor: pointer;
	  height: 0;
	  width: 0;
	}

	/* Create a custom checkbox */
	.checkmark {
	      position: absolute;
    top: 0;
    left: 0;
    height: 27px;
    width: 27px;
    background-color: #fff;
    border: 2px solid #E0E0E0;
	}

	/* On mouse-over, add a grey background color */
	.cont:hover input ~ .checkmark {
	  background-color: #ccc;
	}

	/* When the checkbox is checked, add a blue background */
	.cont input:checked ~ .checkmark {
	  background-color: #fff;
	}

	/* Create the checkmark/indicator (hidden when not checked) */
	.checkmark:after {
	  content: "";
	  position: absolute;
	  display: none;
	}

	/* Show the checkmark when checked */
	.cont input:checked ~ .checkmark:after {
	  display: block;
	}

	/* Style the checkmark/indicator */
	.cont .checkmark:after {
	  left: 7px;
	  top: 2px;
	  width: 10px;
	  height: 15px;
	  border: solid #000;
	  border-width: 0 3px 3px 0;
	  -webkit-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
	  transform: rotate(45deg);
	}

	.areaother{display: none;}
	.areaother.on{display: block;}

	.areaother input[type="text"]{border: 1px solid #E0E0E0;width: 100%;max-width: 414px;padding: 9px 5px;}

	/*box label*/
	.boxlabel {
		 display: inline-block;
		 cursor: pointer;
		 font-weight: 500;
		 position: relative;
		 text-align: right;
		 margin-bottom: 0.375em;
	}
	 .boxlabel input {
		 position: absolute;
		 left: -9999px;
	}
	 .boxlabel input:checked + span {
		     background-color: #fff;border: 2px solid #000;font-weight: 700;
	}
	 .boxlabel input:checked + span:before {
		 box-shadow: inset 0 0 0 0.4375em #000;
	}
	 .boxlabel span {
		display: block;
	    align-items: center;
	    padding: 0.375em 0.75em 0.375em 0.375em;
	    border-radius: 99em;
	    transition: 0.25s ease;
	    font-size: 20px;
	    color: #212531;
	    border: 2px solid #E0E0E0;
	    border-radius: 9px;
	    margin: 0 15px;
	    width: 192px;
	    max-width: 192px;
	    height: 180px;
	    text-align: center;
	    font-size: 16px;
	    font-weight: 500;
	}
	.boxlabel span img{
		margin: 0 auto 22px;
	}
	 .boxlabel span:hover {
		 background-color: #fff;border: 2px solid #000;font-weight: 700;
	}
	
	 .boxlabel span:before {
		 display: flex;
		 flex-shrink: 0;
		 content: "";
		 background-color: #fff;
		 width: 1.5em;
		 height: 1.5em;
		 border-radius: 50%;
		 margin-right: 0.375em;
		 transition: 0.25s ease;
		 box-shadow: inset 0 0 0 0.125em #E0E0E0;
	}

	/*Radiolabel*/
	.radiolabel {
		 display: inline-block;
		 cursor: pointer;
		 font-weight: 500;
		 position: relative;
		 text-align: right;
		 margin-bottom: 0.375em;
	}
	 .radiolabel input {
		 position: absolute;
		 left: -9999px;
	}
	 .radiolabel input:checked + span {
		     background-color: #fff;border: 2px solid #000;font-weight: 700;
	}
	 .radiolabel input:checked + span:before {
		 box-shadow: inset 0 0 0 0.4375em #000;
	}
	 .radiolabel span {
		display: flex;
	    align-items: center;
	    padding: 6px 10px;
	    border-radius: 21px!important;
	    transition: 0.25s ease;
	    font-size: 20px;
	    color: #000;
	    border: 2px solid #E0E0E0;
	    border-radius: 9px;
	    margin: 0 15px;
	    text-align: center;
	    font-size: 16px;
	    font-weight: 500;
	}
	.radiolabel span img{
		margin: 0 auto 22px;
	}
	 .radiolabel span:hover {
		 background-color: #fff;border: 2px solid #000;font-weight: 700;
	}
	
	 .radiolabel span:before {
		 display: none;
	}

	.morebtn{
		display: inline-block;
	    vertical-align: middle;
	    padding: 10px 10px;
	    background: #fff;
	    border-radius: 21px;
	    min-width: 100px;
	    border: 0;
	    color: #000;
	    cursor: pointer;
	    box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
	    max-width: 252px;
	    width: 100%;
	    font-size: 15px;
	    font-weight: 700;
	    text-transform: uppercase;
	    border: 2px solid #000;
	    margin-top: 175px;
	}
	.morebtn:hover{background: #4D525F;border: 2px solid #4D525F; color: #fff;}

	/*tabs*/
	.tabs{padding: 0; margin: 52px 0 52px; text-align: center;}

.tabs li {
    list-style: none!important;
    display: inline-block!important;
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    color: #424749;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.14px;
    font-weight: 300;
    list-style: disc outside none;
    display: list-item;
    margin-left: 1em;
    text-align: center;
    margin-bottom: 5px;
}
.tabs .circle{
	opacity: 0.5;
    font-family: 'Oxygen', sans-serif;
    display: block;
    width: 56px;
    height: 56px;
    margin: 0 auto 15px;
    border: none;
    border-radius: 100%;
    color: #fff;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 1.6px;
    font-weight: 700;
    vertical-align: middle;
    display: grid;
    align-items: center;
    background: #383838;
}
.tabs span{
	opacity: 0.5;
    color: #383838;
    line-height: 22px;
    letter-spacing: 0.14px;
    font-size: 13px;
    font-weight: 700;
    font-family: proxima-nova,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    text-transform: uppercase;
    line-height: 15px;
}
.tabs img{display: block;margin: 0 auto;width: 100%;max-width: 30px;max-height: 30px;height: 100%;}
.tabs .active .circle{background-color: #383838; color: #FFFFFF; opacity: 1;}
.tabs .active span{opacity: 1;}

.dashedline {
    height: 2px;
    border-bottom: 3px solid #4D525F;
    width: 100%;
    max-width: 100px;
    margin: 0 14px;
    display: inline-block;
    position: relative;
    top: -80px;
}
.page-template-typeform .navbar.navbar-expand-md.bg-primary.rounded.navwhite{position: initial!important;}
/*resposnive*/
@media (max-width: 1199px){
	.dashedline{max-width: 60px;}
}

@media (max-width: 995px){
	.tabs img{max-width: 20px; max-height: 20px}
	.dashedline{display: none!important;}
	.tabs .circle{width: 35px; height: 35px;}
	.tabs li{margin: 0 20px 0;}

	#step6 .col-6{flex: 0 0 100%!important; max-width: 100%!important;}
}
@media(max-width: 540px){
	.tabs span{font-size: 11px;}
	.tabs li {margin: 0 15px 0;}
}
@media(max-width: 455px){
	.tabs li {margin: 0 10px 0;}

	.tabs span {font-size: 9px;}
}
}